.dashboard-page {

    .status-card {
        width: 18%;
        height: 108px;
        border-radius: 10px;
        border: 1px solid #E4E4E7;
        margin-right: 14px;
        margin-bottom: 25px;

        .ant-card-body {
            padding-left: 30px;
            padding-top: 20px;
        }

        .card-name {
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 11px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 13px;
        }

        .card-value {
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 32px;
        }
    }

    .table-card {
        width: 97%;
        box-shadow: 0px 1.5px 2px 0px #1018281A;
        margin-bottom: 25px;

        .ant-card-body {
            padding: 0;
        }

        .top-section {
            padding: 18px 25px;
        }

        .card-title {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.005em;
            color: #333843;
            margin-right: 10px;
        }

        .map-section {
            position: relative;

            img {
                width: 80%;
            }

            .player-label {
                padding: 12px 16px;
                border-radius: 8px;
                border: none;
                box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
                position: absolute;
                left: 25%;
                bottom: 24%;

                .player-name {
                    font-family: 'Inter', sans-serif;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #344054;
                }

                .player-number {
                    font-family: 'Inter', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #667085;
                }

                &:before {
                    border: none !important;
                }
            }
        }
    }

}

.MuiTooltip-tooltip {
    background-color: #fff !important;
    border: 1px solid #5C59E8;
    font-family: 'Inter', sans-serif !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 12px;
    letter-spacing: 0em;
    color: #101011 !important;
    border-radius: 1px !important;
    padding: 8px !important;

    .MuiTooltip-arrow {
        &:before {
            background-color: #fff !important;
            border: 1px solid #5C59E8;
        }
    }
}