.layout-page {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

    .mb-30 {
        margin-bottom: 30px;
    }

    .nav-bar {
        width: 100%;
        padding: 20px 50px 30px 50px;
        background-color: #ffffff;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .routing-section {
        padding: 0 50px;
    }

    .logo-title {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        margin-right: 96px;
    }

    .nav-radio {
        label {
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0px;
            color: #000000 !important;
            border: none;
            padding: 0;
            margin-right: 50px;

            .ant-wave {
                display: none !important;
            }

            &::before {
                width: 0px;
            }
        }

        .ant-radio-button-wrapper-checked {
            font-weight: 800;
        }
    }

    button {
        height: 40px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.005em;
    }

}