.settings-page {
    .pr-20 {
        padding-right: 20px;
    }

    .ant-tabs {
        width: calc(100% - 6px);
    }

    .ant-tabs-nav {
        margin: 0;

        &::before {
            border-color: #f0f0f0;
        }
    }

    .select-label {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: #4D5464;
        margin-bottom: 6px;
        text-align: left;
    }

    .ant-select {
        width: 100%;
        margin-bottom: 15px;
        text-align: left;
        height: 40px;

        .ant-select-selector {
            background-color: #F9F9FC;
        }
    }

    .ant-input {
        margin-bottom: 15px;
        text-align: left;
        height: 40px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: #333843;        
        background-color: #F9F9FC;         
    }

    .ant-input-textarea-affix-wrapper {
        background-color: #F9F9FC;     
        
        .ant-input {
            height: auto;
            margin: 0;
        }
    }

    .import-drag-file {
        .ant-upload-drag {
            padding: 25px;
            background-color: #F9F9FC;
            height: auto;

            .ant-upload-btn {
                padding: 0;
            }
        }

        .ant-upload-drag-container {
            text-align: -webkit-center;

            .ant-upload-drag-icon {
                div {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background-color: #DEDEFA;
                    border: 4px solid #EFEFFD;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .material-symbols-outlined {
                        font-size: 28px;
                        color: #5C59E8;
                    }
                }
            }

            .ant-upload-text {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #858D9D;
                margin-bottom: 16px;
            }

            button {
                width: 125px;
                height: 40px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #DEDEFA;
                border: none;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #5C59E8;
                cursor: pointer;
            }
        }

        .ant-upload-list-item-action {
            height: auto !important;
        }

        .ant-upload-list-item {
            text-align: left;
        }
    }

    .ant-tabs-tab {
        background-color: #EAEAEA !important;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: #222222;
        padding: 10px 32px !important;
        margin: 0 !important;
        border-color: #0000001A !important;
    }

    .ant-tabs-tab-active {
        background-color: #ffffff !important;
        border-bottom-color: #fff !important;
    }

    .general-card {
        min-height: 750px;
    }

    .setting-card {
        width: 100%;
        box-shadow: 0px 1.5px 2px 0px #1018281A;
        margin-bottom: 25px;
        border-radius: 0 8px 8px 8px !important;
        border-top: none;

        .ant-card-body {
            padding: 0;
        }

        .top-section {
            padding: 18px 25px;

            button {
                min-width: 146px;

                .material-symbols-outlined {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }

            .search-input {
                width: 25vw;
                margin-right: 25px;
            }
        }

        .card-title {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.005em;
            color: #333843;
            margin-right: 10px;
        }

        .ant-input-affix-wrapper {
            height: 40px;
            border-radius: 8px;
            background-color: #F9F9FC;
            
            input {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.005em;
                background-color: #F9F9FC;
                height: auto;
                margin: 0;
            }

            svg {
                width: 19px;
                height: 19px;
            }
        }

        .user-card {
            .ant-row {
                height: calc(100vh - 237px);
            }

            .media-filter-menu {
                width: 100% !important;
                border: none;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #667085;

                .ant-menu-submenu-title, .ant-menu-item {
                    height: 40px;
                    width: 100%;
                    border-radius: 8px;
                    padding: 8px 12px !important;
                    margin: 0 !important;
                    margin-bottom: 8px !important;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }

                .ant-menu-item {
                    margin-bottom: 8px !important;
                }

                .ant-menu-submenu-open {
                    .ant-menu-submenu-title {
                        color: #5C59E8;
                        background-color: #EFEFFD;
                    }
                }

                .ant-menu-sub {
                    background-color: #ffffff;

                    li {
                        width: 100%;
                        padding-left: 40px !important;
                        margin: 0 !important;
                        margin-bottom: 5px !important;
                    }
                }
            }
        }

    }
}

.edit-user-modal {
    .ant-modal-body {
        width: 965px;
        margin-top: 15px;

        .w-31 {
            width: 31%;
        }

        .w-22 {
            width: 22%;
            margin-left: 20px;
        }

        .w-54 {
            width: 54%;
        }

        .modal-content {
            width: 100%;
            border-radius: 8px;
            border: 1px solid #E0E2E7;
            box-shadow: 0px 1.5px 2px 0px #1018281A;
            text-align: left;
            padding: 25px;
            margin-bottom: 20px;

            .title {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0.005em;
                color: #1A1C21;
                margin-bottom: 15px;
            }

            .sub-container {
                width: 675px;
                padding: 25px;
                border: 1px solid #E0E2E7;
                box-shadow: 0px 1.5px 2px 0px #1018281A;
                border-radius: 8px;
                padding-bottom: 10px;

                .d-flex {
                    flex-wrap: wrap;
                }

                .check-title {
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0px;
                    color: #090914;
                    margin-bottom: 5px;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                .ant-checkbox-wrapper {
                    margin-bottom: 10px;

                    span {
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0.005em;
                        color: #667085;
                    }

                    .ant-checkbox-inner {
                        width: 20px;
                        height: 20px;

                        &::after {
                            transform: rotate(45deg) scale(1.3) translate(-50%,-50%);
                        }
                    }

                    &:last-child {
                        margin-bottom: 25px;
                    }
                }
            }
        }

        .select-label {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #4D5464;
            margin-bottom: 6px;
            text-align: left;
        }

        .ant-input {
            margin-bottom: 15px;
            text-align: left;
            height: 40px;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #333843;
        }

        .ant-input-affix-wrapper {
            margin-bottom: 15px;
            text-align: left;
            height: 40px;
            background-color: #F9F9FC;     

            input {
                margin-bottom: 0;
                height: auto !important;
                background-color: #F9F9FC;     
            }
        }

        .grey-input {
            background-color: #F9F9FC;
        }

        .modal-cancel-button {
            margin-left: 22px;
        }

        button {
            width: 160px;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.005em;
        }
    }
}

.context-menu {
    .MuiPaper-root {
        width: 250px;
        box-shadow: 0px 2px 4px 0px #0000001A;

        li {
            height: 48px;
            font-family: 'Arial', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.4px;
            color: #000;

            &:hover {
                background-color: #5C59E8;
                color: #fff;
            }
        }
    }
}
