.player-page {
    .pr-20 {
        padding-right: 20px;
    }

    .table-card {
        width: 97%;
        box-shadow: 0px 1.5px 2px 0px #1018281A;
        margin-bottom: 25px;

        .ant-card-body {
            padding: 0;
        }

        .top-section {
            padding: 18px 25px;

            button {
                min-width: 146px;

                .material-symbols-outlined {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }

            .ant-select {
                width: 170px;
                height: 40px;
                margin-right: 25px;
            }

            .search-input {
                width: 25vw;
                margin-right: 25px;
            }
        }

        .report-table {
            .ant-table {
                min-height: calc(100vh - 275px);
            }

            .ant-pagination {
                border-top: 1px solid #F0F1F3;
            }
        }

        .card-title {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.005em;
            color: #333843;
            margin-right: 10px;
        }

        .ant-input-affix-wrapper {
            height: 40px;
            border-radius: 8px;
            background-color: #F9F9FC;
            
            input {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.005em;
                background-color: #F9F9FC;
            }

            svg {
                width: 19px;
                height: 19px;
            }
        }

        .thumb-view {
           .thumb-container {
                padding: 5px;
                padding-bottom: 0;
                height: calc(100vh - 275px);
                overflow-y: auto;

                .border-row {
                    border: 1px solid #F0F1F3;
                    height: 100%;
                    border-bottom: none;
                    padding-top: 30px;

                    .sub-title {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 28px;
                        letter-spacing: 0.005em;
                        color: #1A1C21;
                        margin-bottom: 10px;
                    }

                    .media-filter-menu {
                        width: 100% !important;
                        border: none;
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        letter-spacing: 0.005em;
                        color: #667085;
        
                        .ant-menu-submenu-title, .ant-menu-item {
                            height: 40px;
                            width: 100%;
                            border-radius: 8px;
                            padding: 8px 12px !important;
                            margin: 0 !important;
                            margin-bottom: 8px !important;
        
                            svg {
                                width: 18px;
                                height: 18px;
                            }
                        }
        
                        .ant-menu-item {
                            margin-bottom: 8px !important;
                        }
        
                        .ant-menu-submenu-open {
                            .ant-menu-submenu-title {
                                color: #5C59E8;
                                background-color: #EFEFFD;
                            }
                        }
        
                        .ant-menu-sub {
                            background-color: #ffffff;
        
                            li {
                                width: 100%;
                                padding-left: 40px !important;
                                margin: 0 !important;
                                margin-bottom: 5px !important;
                            }
                        }
                    }
                }
                
                .player-card {
                    width: 100%;
                    height: 120px;
                    border-radius: 8px;
                    border: 1px solid #E0E2E7;
                    box-shadow: 0px 1.5px 2px 0px #1018281A;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    margin-bottom: 5px;

                    .badge {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }

                    .card-check {
                        position: absolute;
                        left: 12px;
                        top: 12px;
                        line-height: 0;
                    }

                    .material-symbols-outlined {
                        font-size: 16px;
                        position: absolute;
                        right: 8px;
                        bottom: 8px;
                        cursor: pointer;

                        &:hover {
                            color: #5C59E8;
                        }
                    }
                }

                .name {
                    font-family: 'Plus Jakarta Sans', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    color: #18181B;
                }

                .material-symbols-outlined {
                    font-size: 20px;
                    margin-right: 5px;
                }
            }

            .ant-pagination {
                margin: 0 !important;
                padding: 16px 25px;
                padding-bottom: 25px !important;
                border-top: 1px solid #F0F1F3;
                text-align: right;

                .ant-pagination-total-text {
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.005em;
                    color: #667085;
                    position: absolute;
                    left: 25px;
                }

                .ant-pagination-prev, .ant-pagination-next {
                    width: 32px;
                    height: 32px;
                    border-radius: 8px;
                    background-color: #DEDEFA;

                    button {
                        height: 100% !important;
                    }

                    svg {
                        color: #5C59E8;
                        transform: scaleY(1.2);
                    }
                }

                .ant-pagination-item {
                    width: 32px;
                    height: 32px;
                    border-radius: 8px;
                    background-color: #5C59E8;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 30px;
                    letter-spacing: 0.005em;
                    text-align: center;
                    
                    a {
                        color: #fff;
                    }
                }
            }
        }

    }

    .status-icons {
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
        }

        .material-symbols-outlined {
            margin-right: 0 !important;
            margin-left: 3px;
            color: #4ac50e;
        }
    }
}

.ant-select-item {
    height: 44px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #858D9D !important;
}

.edit-player-modal {
    .ant-modal-body {
        width: 485px;
        margin-top: 15px;

        .select-label {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #4D5464;
            margin-bottom: 6px;
            text-align: left;
        }

        .ant-input {
            margin-bottom: 15px;
            text-align: left;
            height: 40px;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #333843;            
        }

        .grey-input {
            background-color: #F9F9FC;
        }

        .ant-select {
            width: 100%;
            margin-bottom: 15px;
            text-align: left;
            height: 40px;

            .ant-select-selector {
                background-color: #F9F9FC;
            }
        }

        .ant-select-multiple {
            .ant-select-selection-item {
                font-family: 'Inter', sans-serif;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.005em;
                background-color: #DEDEFA;
                color: #5C59E8;
            }

            .anticon-close {
                color: #5C59E8;
            }
        }

        .ant-checkbox-wrapper {
            margin-bottom: 10px;

            span {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #667085;
            }

            .ant-checkbox-inner {
                width: 20px;
                height: 20px;

                &::after {
                    transform: rotate(45deg) scale(1.3) translate(-50%,-50%);
                }
            }
        }

        button {
            width: 80px;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.005em;            
        }

        .modal-cancel-button {
            margin-top: 25px;
            margin-left: 10px;
        }
    }
}

.context-menu {
    .MuiPaper-root {
        width: 250px;
        box-shadow: 0px 2px 4px 0px #0000001A;

        li {
            height: 48px;
            font-family: 'Arial', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.4px;
            color: #000;

            &:hover {
                background-color: #5C59E8;
                color: #fff;
            }
        }
    }
}