.media-page {
    .pr-20 {
        padding-right: 20px;
    }

    .table-card {
        width: 100%;
        box-shadow: 0px 1.5px 2px 0px #1018281A;
        margin-bottom: 25px;

        .ant-card-body {
            padding: 0;
        }

        .top-section {
            padding: 18px 25px;
        }

        .card-title {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.005em;
            color: #333843;
            margin-right: 10px;
        }

        .ant-input-affix-wrapper {
            height: 40px;
            border-radius: 8px;
            background-color: #F9F9FC;
            
            input {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.005em;
                background-color: #F9F9FC;
            }

            svg {
                width: 19px;
                height: 19px;
            }
        }

        .search-input {
            width: 515px;
        }

        .filter-btn {
            color: #8a84f5;
            border-color: #8a84f5;
            margin-left: 12px;
        }

        .filter-board {
            width: 265px;
            height: calc(100vh - 195px);
            overflow-y: auto;
            background-color: #ffffff;
            box-shadow: 5px 0px 30px -10px #8362EA0D;
            padding: 25px;

            button {
                height: 36px;
                width: 100%;
                text-align: left;
                margin-bottom: 8px;
            }

            .media-filter-menu {
                width: 100% !important;
                border: none;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #667085;

                .ant-menu-submenu-title, .ant-menu-item {
                    height: 40px;
                    width: 100%;
                    border-radius: 8px;
                    padding: 8px 12px !important;
                    margin: 0 !important;
                    margin-bottom: 8px !important;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }

                .ant-menu-item {
                    margin-bottom: 8px !important;
                }

                .ant-menu-submenu-open {
                    .ant-menu-submenu-title {
                        color: #5C59E8;
                        background-color: #EFEFFD;
                    }
                }

                .ant-menu-sub {
                    background-color: #ffffff;

                    li {
                        width: 100%;
                        padding-left: 40px !important;
                        margin: 0 !important;
                        margin-bottom: 5px !important;
                    }
                }
            }
        }

        .result-board {
            width: calc(100% - 265px);
            height: calc(100vh - 195px);
            overflow-y: auto;
            padding: 25px;

            .ant-breadcrumb {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0.005em;
                color: #1A1C21;
                margin-bottom: 10px;

                .ant-breadcrumb-link {
                    height: auto;
                }
            }

            .ant-col {

                .filter-media-card {
                    width: 100%;
                    height: 120px;
                    border-radius: 8px;
                    border: 1px solid #E0E2E7;
                    box-shadow: 0px 1.5px 2px 0px #1018281A;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;

                    .card-check {
                        position: absolute;
                        left: 12px;
                        top: 12px;
                        line-height: 0;
                    }

                    .media-format {
                        font-family: 'Inter', sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 18px;
                        letter-spacing: 0.005em;                       
                        color: #5C59E8;
                        background-color: #EFEFFD;
                        border-radius: 12px;
                        padding: 0 6px;
                        text-transform: uppercase;
                        position: absolute;
                        right: 10px;
                        top: 12px;
                    }

                    .material-symbols-outlined {
                        font-size: 16px;
                        position: absolute;
                        right: 8px;
                        bottom: 8px;
                        cursor: pointer;

                        &:hover {
                            color: #5C59E8;
                        }
                    }
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: 0.005em;
                    color: #1A1C21;
                }

                .grey-text {
                    font-size: 14px;
                    line-height: 20px;
                    text-align: right;
                    color: #1A1C21C9;
                }
            }
        }

    }
}

.import-modal {
    .ant-modal-title {
        margin-bottom: 40px;
    }

    .ant-modal-body {
        width: 792px;
        text-align: center;

        .import-drag-file {
            .ant-upload-drag {
                padding: 25px;
                background-color: #F9F9FC;

                .ant-upload-btn {
                    padding: 0;
                }
            }

            .ant-upload-drag-container {
                text-align: -webkit-center;

                .ant-upload-drag-icon {
                    div {
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        background-color: #DEDEFA;
                        border: 4px solid #EFEFFD;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .material-symbols-outlined {
                            font-size: 28px;
                            color: #5C59E8;
                        }
                    }
                }

                .ant-upload-text {
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #858D9D;
                    margin-bottom: 16px;
                }

                button {
                    width: 125px;
                    height: 40px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #DEDEFA;
                    border: none;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #5C59E8;
                    cursor: pointer;
                }
            }

            .ant-upload-list-item-action {
                height: auto !important;
            }

            .ant-upload-list-item {
                text-align: left;
            }
        }
    }
    
    .modal-cancel-button {
        margin-top: 15px;
    }
}

.webpage-modal, .rss-modal {
    .ant-modal-body {
        width: 792px;
        text-align: center;

        .label {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            text-align: left;
            color: #4D5464;
        }

        .url-input {
            height: 40px;
            width: 100%;
            border-radius: 8px;
            background-color: #F9F9FC;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            background-color: #F9F9FC;
            margin-bottom: 15px;
        }

        .rss-input {
            height: 95px;
        }
    }
}

.filter-modal {
    .ant-modal-body {
        width: 400px;
        min-height: 490px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 15px;

        .file-type-collapse {
            width: 100%;
            border-color: #F0F1F3;

            .ant-collapse-item {
                border-color: #F0F1F3;

                .ant-collapse-content {
                    border-color: #F0F1F3;

                    .ant-collapse-content-box {
                        padding: 12px;

                        .ant-checkbox-group {
                            width: 100%;
                            flex-direction: column;
                        }

                        .ant-checkbox-wrapper {
                            width: 100%;
                            font-family: 'Inter', sans-serif;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            letter-spacing: 0.005em;
                            color: #667085;
                            margin-bottom: 16px;
                        }
                    }
                }
            }

            .ant-collapse-header {
                background-color: #F9F9FC;
                height: 36px;
                padding: 0 15px;
                border-radius: 8px;
                align-items: center;
                justify-content: space-between;

                .ant-collapse-header-text {
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    text-align: left;
                }
            }
        }
    
        .modal-cancel-button {
            margin-right: 15px;
        }

        button {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.005em;            
        }

        .ant-btn-disabled {
            background-color: #858D9D;
            color: #fff;
            border: none;
        }
    }

    .reset-button {
        display: flex;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.005em;
        cursor: pointer;

        .material-symbols-outlined {
            font-size: 15px;
            text-decoration: none;
            margin-right: 5px;
        }

        p {
            text-decoration: underline;
        }

        &:hover {
            color: #5C59E8;
        }
    }
}

.edit-modal {
    .ant-modal-body {
        width: 400px;
        margin-top: 15px;
        text-align: center;

        .select-label {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #4D5464;
            margin-bottom: 6px;
            text-align: left;
        }

        .ant-select {
            width: 100%;
            margin-bottom: 15px;
            text-align: left;
            height: 40px;

            .ant-select-selector {
                background-color: #F9F9FC;
            }
        }

        .ant-select-multiple {
            .ant-select-selection-item {
                font-family: 'Inter', sans-serif;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.005em;
                background-color: #DEDEFA;
                color: #5C59E8;
            }

            .anticon-close {
                color: #5C59E8;
            }
        }

        .ant-picker {
            width: 100%;
            margin-bottom: 15px;
            text-align: left;
            height: 40px;
            background-color: #F9F9FC;
        }
    }
}

.context-menu {
    .MuiPaper-root {
        width: 250px;
        box-shadow: 0px 3px 10px 0px #00000033, 0px 1px 2px 0px #0000001A;

        li {
            height: 48px;
            font-family: 'Arial', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.4px;
            color: #000;

            &:hover {
                background-color: #5C59E8;
                color: #fff;
            }
        }
    }
}

.ant-popover {
    .ant-popover-arrow {
        display: none !important;
    }

    .ant-popover-content {
        width: 215px;

        .ant-popover-inner {
            padding: 0;
            box-shadow: none;

            .ant-popover-inner-content {
                button {
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }

    button {
        height: 36px;
        width: 100%;
        text-align: left;
        margin-bottom: 8px;
    }
}

.move-to-modal {

    button {
        width: 80px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.005em;            
    }

    .modal-cancel-button {
        margin-top: 25px;
        margin-left: 10px;
    }

}